@model Room
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">

    <!-- Room Heading -->
    <h1 class="my-4">
        Room Number
        <small>@Model.RoomNumber</small>
    </h1>

    <!-- Room Details Row -->
    <div class="row">

        <!-- Room Image Column -->
        <div class="col-md-8">
            <img class="img-fluid" src="@Model.Image" alt="Room Image">
        </div>

        <!-- Room Information Column -->
        <div class="col-md-4">
            <h3 class="my-3">Room Number @Model.RoomNumber</h3>
            <p>Description: @Model.Description</p>
            <h3 class="my-3">Others:</h3>
            <ul>
                <li>Capacity: @Model.Capacity</li>
                <li>Is Available: @Model.IsAvailable</li>
                <li>Price Per Night: @Model.PricePerNight</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->
    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>

    <div class="row">

        <!-- Placeholder for Related Images -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="@Model.Image" alt="Related Image">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="@Model.Image" alt="Related Image">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="@Model.Image" alt="Related Image">
            </a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                <img class="img-fluid" src="@Model.Image" alt="Related Image">
            </a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
